.banner{
    background-color: @color_black;
    padding-top: 5%;
    padding-bottom: 30%;
    //height: 900px;
    position: relative;
    
    .xs-block({
        padding-bottom: 120%;
        //height: 669px;
    });
    &-block {
        &-title {
            .page__title-h1 {
                text-transform: uppercase;
                position: relative;
                .xs-block({
                    font-size: 170px;
                    margin-bottom: 7%;
                });
                span {
                    position: absolute;
                    top: 150px;
                    left: 530px;
                    .xs-block({
                        position: absolute;
                        top: 370px;
                        //left: 530px;
                    });
                    
                }
            }
            
            .page__text_middle {
                text-transform: uppercase;
                line-height: 28px;
                position: relative;
                padding-left: 7%;
                top: 60px;
                left: 180px;
                //.size();
                .xs-block({
                    font-size: 80px;
                    top: 340px;
                });
                span {
                    &::after {
                        position: absolute;
                        content: '';
                        display: inline-block;
                        width: 140px;
                        height: 1px;
                        background-color: @color_white;
                        top: 10px;
                        left: 280px;
                        .xs-block({
                            left: 680px;
                            width: 520px;
                        });
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: @color_white;
                        top: -24px;
                        left: 70px;
                        .xs-block({
                            width: 35px;
                            height: 35px;
                            left: 10px;
                            top: -60px;
                        });
                    }


                }
                
            }

            .left {
                position: relative;
                left: 50px;
                .xs-block({
                    left: -70px;
                    top: 250px;
                });
            }
        }
    }
   
    
    .buttonScroll {
        position: absolute;
        bottom: 6%;
        .page__img {
            .size(12);
            position: absolute;
            bottom: 90px;
            height: 30px;
            width: 40px;
        }
        .xs-block({
            display: none;
        });
    }
}