.bonus {
    //position: relative;
    padding-top: 600px;
    padding-bottom: 150px;
    .xs-block({
        overflow: hidden;
        padding-top: 20%;
        padding-bottom: 30%;

    });
    &-block {
        .page__text_breit_mid {
            text-transform: uppercase;
            margin-bottom: 2%;
            .xs-block({
                font-size: 180px;
                .shift-left(-2);
        
            });
        }

        .page__text_middle-black {
            margin-bottom: 6%;
            @media screen and (max-width: 1024px) {
                font-size: 38px;
                line-height: 50px;
            }
            .xs-block({
                padding-top: 5%;
                padding-bottom: 25%;
                font-size: 90px;
                line-height: 80px;
                .size(16);
                .shift-left(-2);
        
            });
        }

        &__slider {
            position: relative;
            @media screen and (max-width: 1600px) {
                .shift-left(-.4); 
            }
            @media screen and (max-width: 1441px) {
                .shift-left(-.4);  
            }
            .tns-outer {
                width: 1320px;
                @media screen and (max-width: 1600px) {
                    width: 1360px;
                }
            }
            .tns-inner {
                @media screen and (max-width: 1600px) {
                    width: 1250px;
                    overflow: hidden;
                }
                overflow: hidden;
            }
            .page__img {
                .shift-left(.01);
                @media screen and (max-width: 1441px) {
                    
                }
            }
            //.shift-left(1.9);
            
        }
    }

    .bonus-btn_next {
        transform: rotate(180deg);
        border: transparent;
        background: transparent;
        position: relative;
        top: -400px;
        left: 1100px;
        @media screen and (max-width: 1600px) {
            top: -430px;
            left: 1060px;
        }
        @media screen and (max-width: 1441px) {
            top: -430px;
            left: 1060px;
        }
    }

    .bonus-btn_prev {
        
        border: transparent;
        background: transparent;
        position: relative;
        top: -400px;
        left: 1085px;
        @media screen and (max-width: 1600px) {
            top: -425px;
            left: 1060px;
        }
        @media screen and (max-width: 1441px) {
            top: -425px;
            left: 1060px;
        }
    }

    .page__img {
        .xs-block({
            .size(25);
            .shift-left(-2);
    
        });
    }
}

#bonusSlider {
    display: flex;
}