.contacts {
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: @color_black;
    &-block {
        .row-flex();
        .xs-block({
            flex-direction: column;
        });
        &-img {
            .col();
            .size(6);
            .xs-block({
                .size(12);
            });
        }
        &-description {
            .size(6);
            .col();
            padding-top: 5%;
            .page__text_breit_big , 
            .page__text_midb,
            .page__text_midb {
                color: @color_white;
                margin-bottom: 5%;
                .xs-block({
                    .size(23);
                    .shift-left(-3);
                    font-size: 100px;
                    line-height: 170px;
                });
            }

            .page__text_breit_big {
                
                text-transform: uppercase;
            }

        }
    }
}