.contacts {
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: @color_black;
    &-block {
        .row-flex();
        .xs-block({
            flex-direction: column;
        });
        &-img {
            .col();
            .size(6);
            .xs-block({
                .size(12);
            });
        }
        &-description {
            display: flex;
            flex-direction: column;
            .size(6);
            .col();
            .page__link-contacts {
                margin-bottom: 5%;
                color: #fff;
            }
            padding-top: 5%;
            .page__link-contacts-else {
                margin-bottom: 5%;
                text-transform: none;
                color: #fff;
            }
        }
    }
}