.general {
    //height: 900px;
    padding-top: 8%;
    padding-bottom: 25%;
    background-color: @color_yellow;
   &-block {
       &-logo {
           
           .row-flex();
            .page__img {
                .size(5);
                .col();
            }

            .page__text_breit {
                .shift-left(-.8);

                .laptopMid-block({
                    .shift-left(.2);
                });
                .laptopMini-block({
                    .shift-left(.1);
                });
                text-transform: uppercase;
                position: relative;
                top: -14px;
                left: -5px;
                

            }
       }

       &-description {
           padding-top: 8%;
       }
   } 
}