.page{
    &__text {
        font-family: "@{HalvarMittel}-Regular";
        color: @color_white;
        font-size: 18px;
        &_middle {
            font-family: "@{HalvarMittel}-Regular";
            font-size: 24px;
            line-height: 28px;
            color: @color_white;
            &-black {
                font-family: "@{HalvarMittel}-Regular";
                font-size: 24px;
                line-height: 28px;
                color: @color_black;
            }
        }

        &_mid {
            font-family: "@{HalvarMittel}-Regular";
            font-size: 30px;
            line-height: 40px;
            color: @color_black;
        }

        &_big {
            font-family: "@{HalvarMittel}-Regular";
            font-size: 50px;
            line-height: 90px;
            color: @color_black;
        }

        &_breit {
            font-family: "@{HalvarBreitschrift}-Regular";
            font-size: 56px;
            color: @color_white;
            
        }

    }

    &__title {
        &-h1 {
            font-family: "@{HalvarMittel}-Regular";
            color: @color_white;
            font-size: 120px;
        }
        
    }

    &__link {
        font-family: "@{HalvarMittel}-Regular";
        text-decoration: none;
        text-transform: uppercase;
        color: @color_white;
        font-size: 18px;
    }
}