.page{
    &__text {
        font-family: "@{HalvarMittel}-Regular";
        color: @color_white;
        font-size: 18px;

    }

    &__title {
        &-h1 {
            font-family: "@{HalvarMittel}-Regular";
            color: @color_white;
            font-size: 120px;
        }
        
    }
}