.space {
    background-color: @color_pink;
    padding-top: 7%;
    padding-bottom: 5%;
    .xs-block({
        
        
        padding-top: 10%;
        padding-bottom: 10%;
    });
    &-block {
        .row-flex();
        &-descr {
            .col();
            .size(8);
            .xs-block({
                .shift-left(-1);
                .size(12);
            });
            position: relative;
            .page__text_breit_big {
                margin-bottom: 5.5%;
                position: relative;
                text-transform: uppercase;
                .xs-block({
                    font-size: 135px;
                    
                    padding-top: 3%;
                    padding-bottom: 10%;
                });
                
                
            }

            .page__img {
                position: absolute;
                left: 550px;
                //top: 180px;
                
                
                &_1, &_2, &_3, &_4 {
                    position: absolute;
                    left: 370px;
                    top: 20px;

                }

                &_1 {
                    @media screen and (max-width: 1680px) {
                        top: 15px;
                        left: 330px;
                    }
                    @media screen and (max-width: 1600px) {
                        top: 15px;
                        left: 310px;
                    }
                    .laptopMid-block({
                        position: absolute;
                        top: 10px;
                        left: 320px;
                        .size(3);
                    });

                    @media screen and (max-width: 1567px) {
                        top: 15px;
                        left: 310px;
                    }

                    @media screen and (max-width: 1441px) {
                        top: 20px;
                        left: 310px;
                    }

                    @media screen and (max-width: 1367px) {
                        top: 10px;
                        left: 320px;
                    }

                    @media screen and (max-width: 1281px) {
                        top: 10px;
                        left: 270px;
                    }

                    .ipad-block({
                        position: absolute;
                        top: 5px;
                        left: 200px;
                        .size(3);
                    });
                    
                    .xs-block({
                        position: absolute;
                        top: 13px;
                        left: 160px;
                        .size(3);
                    });
                }

                &_2 {
                    top: 150px;
                    left: 630px;
                    @media screen and (max-width: 1680px) {
                        top: 128px;
                        left: 570px;
                    }
                    @media screen and (max-width: 1600px) {
                        top: 123px;
                        left: 550px;
                    }
                    
                    .laptopMid-block({
                        position: absolute;
                        top: 110px;
                        left: 500px;
                        .size(3);
                    });

                    //.lmd-block({
                        //font-size: 20px;
                    //});
                    
                    //.lmd(font-size,20px);

                    @media screen and (max-width: 1567px) {
                        position: absolute;
                        top: 120px;
                        left: 550px;
                        .size(3);
                    }

                    @media screen and (max-width: 1441px) {
                        top: 105px;
                        left: 510px;
                    }

                    @media screen and (max-width: 1367px) {
                        top: 100px;
                        left: 450px;
                    }

                    @media screen and (max-width: 1281px) {
                        top: 90px;
                        left: 430px;
                    }

                    .laptopMini-block({
                        position: absolute;
                        top: 85px;
                        left: 440px;
                        .size(3);
                    });
                    .ipad-block({
                        position: absolute;
                        top: 73px;
                        left: 360px;
                        .size(3);
                    });
                    
                    .xs-block({
                        position: absolute;
                        top: 90px;
                        left: 250px;
                        .size(3);
                    });

                    
                }

                &_3 {
                    top: 280px;
                    left: 630px;
                    @media screen and (max-width: 1680px) {
                        top: 241px;
                        left: 568px;
                    }
                    @media screen and (max-width: 1600px) {
                        top: 230px;
                        left: 550px;
                    }

                    @media screen and (max-width: 1567px) {
                        position: absolute;
                        top: 220px;
                        left: 500px;
                        .size(3);
                    }
                    
                    .laptopMini-block({
                        position: absolute;
                        top: 185px;
                        left: 410px;
                        .size(3);
                    });

                    @media screen and (max-width: 1441px) {
                        top: 205px;
                        left: 510px;
                    }

                    @media screen and (max-width: 1367px) {
                        top: 195px;
                        left: 450px;
                    }

                    @media screen and (max-width: 1281px) {
                        top: 178px;
                        left: 430px;
                    }
                    
                    .laptopMid-block({
                        position: absolute;
                        top: 229px;
                        left: 470px;
                        .size(3);
                    });

                    .ipad-block({
                        position: absolute;
                        top: 140px;
                        left: 350px;
                        .size(3);
                    });
                    
                    .xs-block({
                        position: absolute;
                        top: 170px;
                        left: 250px;
                        .size(3);
                    });
                }

                &_4 {
                    top: 410px;
                    left: 530px;
                    @media screen and (max-width: 1680px) {
                        top: 354px;
                        left: 480px;
                    }
                    @media screen and (max-width: 1600px) {
                        top: 337px;
                        left: 450px;
                    }
                    .laptopMid-block({
                        position: absolute;
                        top: 330px;
                        left: 440px;
                        .size(3);
                    });

                    @media screen and (max-width: 1567px) {
                        position: absolute;
                        top: 330px;
                        left: 450px;
                        .size(3);
                    }

                    @media screen and (max-width: 1441px) {
                        top: 300px;
                        left: 440px;
                    }

                    @media screen and (max-width: 1367px) {
                        top: 280px;
                        left: 390px;
                    }

                    @media screen and (max-width: 1200px) {
                        top: 250px;
                        left: 350px;
                    }
                    
                    .laptopMini-block({
                        position: absolute;
                        top: 265px;
                        left: 370px;
                        .size(3);
                    });

                    .ipad-block({
                        position: absolute;
                        top: 210px;
                        left: 310px;
                        .size(3);
                    });


                    .xs-block({
                        position: absolute;
                        top: 245px;
                        left: 220px;
                        .size(3);
                    });
                    
                    
                }
            }
        }

        &-img {
            .size(3.2);
            .shift-left(.8);
            @media screen and (max-width: 1680px) {
                position: relative;
                top: -20px;
            }
            @media screen and (max-width: 1600px) {
                position: relative;
                top: -20px;
            }
            .page__img {
                padding-top: 40%;
                .xs-block({
                    display: none;
                });
                
            }
        }
    }
}