.space {
    background-color: @color_pink;
    padding-top: 7%;
    padding-bottom: 5%;
    &-block {
        .row-flex();
        &-descr {
            .col();
            .size(8);
            position: relative;
            .page__text_breit_big {
                margin-bottom: 5.5%;
                position: relative;
                text-transform: uppercase;
                
                
            }

            .page__img {
                position: absolute;
                left: 550px;
                //top: 180px;
                
                &_1, &_2, &_3, &_4 {
                    position: absolute;
                    left: 370px;
                    top: 20px;
                }

                &_2 {
                    top: 150px;
                    left: 630px;
                }

                &_3 {
                    top: 280px;
                    left: 630px;
                }

                &_4 {
                    top: 410px;
                    left: 530px;
                }
            }
        }

        &-img {
            .size(3.2);
            .shift-left(.8);
            .page__img {
                padding-top: 40%;
            }
        }
    }
}