.team {
    padding-top: 150px;
    .xs-block({
        padding-bottom: 60%;
        overflow: hidden;
    });
    .page__title-h2 {
        text-align: center;
        margin-bottom: 5.5%;
        .xs-block({
                          
            .size(12);
            .shift-left(-2);
            margin-bottom: 12%;
            font-size: 230px;
            text-align: left;
            position: relative;
            
            
        });
    }
    &-block {
        
        &-items {
            &-item {
                
                &_1 {
                    display: flex;
                    .page__img {
                        .col();
                        .size(6);
                        .xs-block({
                            
                            .size(12);
                            .shift-left(-4);
                        });
        
                    }

                    &-col {
                        .size(12);
                        padding-top: 5%;
                        .page__text_midb {
                            .col();
                            .xs-block({
                                line-height: 80px;
                                font-size: 80px;
                                position: relative;
                                top: 80px;

                            });
                            margin-bottom: 3%;
                        }
        
                        .page__text_breit_versm {
                            .col();
                            .xs-block({
                                line-height: 80px;
                                font-size: 75px;
                                position: relative;
                                top: 120px;

                            });
                            margin-bottom: 6%;
                        }
        
                        .page__text_mid {
                            .col();
                            .size(12);
                            .xs-block({
                                line-height: 100px;
                                font-size: 75px;
                                padding-top: 500px;
                                .shift-left(-9);
                                .size(22);
                            });
                            margin-bottom: 8%;
                        }
                    }
    
                    
                }

                &_2 {
                    
                    display: flex;
                    .page__img {
                        .col();
                        .size(6);
                        .shift-right(-1);
                        .xs-block({
                            
                            .shift-left(-14);
                            .size(8);
                        });
                        position: relative;
                        top: 30px;
        
                    }

                    &-col {
                        .size(7);
                        .shift-left(4);
                        padding-top: 4%;
                        .page__text_midb {
                            .col();
                            .xs-block({
                                line-height: 80px;
                                font-size: 80px;
                                position: relative;
                                top: 160px;
                                left: 100px;

                            });
                            margin-bottom: 3%;
                        }
        
                        .page__text_breit_versm {
                            .col();
                            .xs-block({
                                line-height: 80px;
                                font-size: 75px;
                                position: relative;
                                top: 200px;
                                left: 80px;


                            });
                            margin-bottom: 6%;
                        }
        
                        .page__text_mid {
                            
                            .col();
                            .size(18);
                            margin-bottom: 9%;
                            .shift-left(-10);
                            .xs-block({
                                line-height: 100px;
                                font-size: 75px;
                                padding-top: 600px;
                                .shift-left(-9);
                                .size(22);

                            });
                        }
                    }
                }

                &_3 {
                    
                    display: flex;
                    .page__img {
                        .col();
                        .size(6);
                        .shift-right(-1);
                        .xs-block({
                            
                            .shift-left(-3);
                            .size(8);
                        });
                        position: relative;
                        top: 50px;
                        left: 180px;
                        .laptopMid-block({
                           left: 30px;
                           top: 10px;
                        });
        
                    }

                    &-col {
                        .size(7);
                        .shift-left(1);
                        padding-top: 6%;
                        .page__text_midb {
                            .col();
                            .xs-block({
                                    .size(15);
                                    line-height: 80px;
                                    font-size: 80px;
                                    position: relative;
                                    top: 160px;
                                    left: 100px;
    
                                
                            });
                            margin-bottom: 3%;
                        }
        
                        .page__text_breit_versm {
                            .col();
                            .xs-block({
                                .size(16);
                                line-height: 80px;
                                font-size: 70px;
                                position: relative;
                                top: 200px;
                                left: 80px;


                            });
                            margin-bottom: 6%;
                        }
        
                        .page__text_mid {
                            
                            .col();
                            .size(12);
                            margin-bottom: 8%;
                            .shift-left(-.1);
                            .xs-block({
                                line-height: 100px;
                                font-size: 75px;
                                padding-top: 600px;
                                .shift-left(-12);
                                .size(27);

                            });
                        }
                    }
                }
            }
            
            
        }
        &-eyes {
            position: relative;
            .size(6);
            .shift-left(5);
            .xs-block({
                .size(16);
                .shift-left(-2);

            });
            .laptopMid-block({
                .shift-left(4);
            });
            .laptopMini-block({
                //.shift-left(4);
            });
            .page__img {
                position: absolute;
                top: 150px;
                .xs-block({
                    position: absolute;
                    top: 40px;
    
                });
                .laptopMid-block({
                    position: absolute;
                    top: 120px;
                });
            }

            .page__title-h3 {
                position: relative;
                top: 360px;
                left: 100px;
                .xs-block({
                    position: relative;
                    font-size: 120px;
                    top: 770px;
                    left: 350px;
    
                });
            }

            .page__text_mid {
                position: relative;
                top: 381px;
                left: 100px;
                color: @color_white;
                opacity: 0.7;
                .size(9);
                .xs-block({
                    .size(5);
                    position: relative;
                    font-size: 70px;
                    line-height: 100px;
                    top: 830px;
                    left: 350px;
    
                });
            }

            .page__btn {
                .size(6);
                .xs-block({
                    .size(5);
                    position: relative;
                    font-size: 70px;
                    line-height: 100px;
                    top: 930px;
                    left: 850px;
    
                });
                position: relative;
                top: 425px;
                left: 290px;
            }
        }
    }
}