section.banner
    .wrapper
        .banner-block
            .banner-block-title
                h1.page__title-h1 Новое пространство <span> Петербурга
                p.page__text_middle.left гибкие <span> офисы 
                p.page__text_middle для гибких команд
            //-сделать селекты
            .banner-block-select
                select.select-1
                    option(value="1") Выберите услугу
                .select-wrapper
                    select.select-2
                        option(value="1") сколько мест
                .select-container
                    select.select-3
                        option(value="1") забронировать
        .buttonScroll
            .page__img
                img(src="assets/img/btn_scrolldown.svg")
        .buttonScroll-mid
            .page__img
                img(src="assets/img/btn_scrolldown-mid.png")
        .buttonScroll-small
            .page__img
                img(src="assets/img/btn_scrolldown.png")