section.banner
    .wrapper
        .banner-block
            .banner-block-title
                h1.page__title-h1 Новое пространство <span> Петербурга
                p.page__text_middle.left гибкие <span> офисы 
                p.page__text_middle для гибких команд
            //-сделать селекты
        .buttonScroll
            .page__img
                img(src="assets/img/btn_scrolldown.svg")