section.bonus
    .wrapper
        .bonus-block
            .bonus-block-descr
                p.page__text_breit_mid бонусы
                p.page__text_middle-black Приятные бонусы от наших партнеров.
            .bonus-block-slider
                .page__img
                    img(src="assets/img/zaglushka.svg")
        
