section.bonus
    .wrapper
        .bonus-block
            .bonus-block-descr
                p.page__text_breit_mid бонусы
                p.page__text_middle-black Приятные бонусы от наших<br> партнеров.
            .bonus-block__slider
                .bonus-block__slider-content
                    #bonusSlider
                        .page__img
                            img(src="assets/img/card-1.svg")
                        .page__img
                            img(src="assets/img/card-2.svg")
                        .page__img
                            img(src="assets/img/card-3.svg")
                        .page__img
                            img(src="assets/img/card-4.svg")
                        .page__img
                            img(src="assets/img/card-3.svg")
                        .page__img
                            img(src="assets/img/card-4.svg")
                        .page__img
                            img(src="assets/img/card-1.svg")
                        .page__img
                            img(src="assets/img/card-2.svg")
                button.bonus-btn.bonus-btn_prev
                    .page__img
                            img(src="assets/img/arrow-bonus.svg")
                button.bonus-btn.bonus-btn_next
                    .page__img
                            img(src="assets/img/arrow-bonus.svg")
                
        
