section.contacts
    .wrapper
        .contacts-block
            .contacts-block-img
                img(src="assets/img/contacts.svg")
            .contacts-block-description
                a.page__link-contacts контакты
                a.page__link-contacts-else 8 800 726-32-32
                a.page__link-contacts-else hola@sprintspace.ru
                a.page__link-contacts-else ул.Днепропетровская, 14