footer.footer
    .wrapper
        .footer-block
            .footer-block-row
                .page__img
                    img(src="assets/img/footer.svg")
                p.page__text_middle офисы
                p.page__text_middle переговорки
                p.page__text_middle зал эвентов
                p.page__text_middle OPENSPACE
                p.page__text_middle СЕрвисы
            .footer-block-row-too
                p.page__text Санкт-Петербург, ул. Днепропетровская, 14
                p.page__text_sm Узнайте больше:
                p.page__text