footer.footer
    .wrapper
        .footer-block
            .footer-block-row
                .page__img
                    img(src="assets/img/footer.svg")
                a.page__text_middle офисы
                a.page__text_middle переговорки
                a.page__text_middle зал эвентов
                a.page__text_middle OPENSPACE
                a.page__text_middle СЕрвисы
            .footer-block-row-too
                p.page__text_sm Санкт-Петербург, <br>ул. Днепропетровская, 14
                a.page__text_9 Узнайте больше:
                a.page__text <span>тестовый день
                a.page__text_8 <span>онлайн-экскурсия
            .footer-block-row-third
                p.page__text_sm © 2021
                .footer-block-row-third-soc
                    .footer-block-row-third-soc-facebook 
                        a(href="#").page__img
                            img(src="assets/img/fb.svg")
                    .footer-block-row-third-soc-vk
                        a(href="#").page__img
                            img(src="assets/img/vk.svg")
                    .footer-block-row-third-soc-inst
                        a(href="#").page__img
                            img(src="assets/img/inst.svg")
                    p.page__text_breit_versm-else сделано с умом в ПРОМБЮРО