section.general
    .wrapper
        .general-block
            .general-block-logo
                .page__img
                    img(src="assets/img/logo-2.svg")
                p.page__text_breit - это
            .general-block-description
                p.page__text_middle-black 21 мини-офис
                p.page__text_middle-black 6 мест в коворкинге
                p.page__text_middle-black 5 переговорных комнат
                p.page__text_middle-black 3 зум-рума
                p.page__text_middle-black 1 зал для эвентов
                p.page__text_middle-black.min а еще кухня, душ и много места для отдыха
                p.page__text_middle-black-mob Современные офисы со всей инфраструктурой и гибкостью коворкинга
            .general-block-img
                .page__img
                    img(src="assets/img/space-1.svg")
            .general-block-img-2
                .page__img
                    img(src="assets/img/space-2.svg")
            .general-block-arrow
                .page__img
                    img(src="assets/img/space-arrow.svg")