header.header
    .wrapper
        .header-block
            .header-block-nav
                .header-block-nav__logo
                    a(href="/")
                        .page__img
                            img(src="assets/img/logo.svg")
                .header-block-nav__menu
                    a(href="/")
                        .page__img
                            img(src="assets/img/menu.svg")
                .header-block-nav-links
                    a(href="#").header-block-nav-links-link.page__link Офисы
                    a(href="#").header-block-nav-links-link.page__link Переговорки
                    a(href="#").header-block-nav-links-link.page__link Зал эвентов
                    a(href="#").header-block-nav-links-link.page__link OpenSpace
                    a(href="#").header-block-nav-links-link_tel.page__link 8 800 726-32-32