section.map
    .wrapper
        .map-block
            .map-block-img
                //- .page__img
                //-     img(src="assets/img/map.svg")
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/house/dnepropetrovskaya_ulitsa_14/Z0kYdQJoS0MHQFtjfXVwcXhlbQ==/?ll=30.359765%2C59.909690&utm_medium=mapframe&utm_source=maps&z=17.35" style="color:#eee;font-size:12px;position:absolute;top:14px;">Днепропетровская улица, 14 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUQNUCzoA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            .map-block-description
                p.page__text_midb Днепропетровская, 14
                p.page__text_breit_small 8 минут
                p.page__text_sm от станции метро “Обводный канал”
                p.page__text_breit_small 15 минут
                p.page__text_sm <span> доставка от “Готово.Китчен” и “Ями-Ями”
                p.page__text_sm-else В 10 минутах пешком есть фитнес-центр Sport-Life, кофейни и места для перекуса в любое время дня