section.map
    .wrapper
        .map-block
            .map-block-img
                .page__img
                    img(src="assets/img/map.svg")
            .map-block-description
                p.page__text_midb Днепропетровская, 14
                p.page__text_breit_small 8 минут
                p.page__text_sm от станции метро “Обводный канал”
                p.page__text_breit_small 15 минут
                p.page__text_sm <span> доставка от “Готово.Китчен” и “Ями-Ями”
                p.page__text_sm-else В 10 минутах пешком есть фитнес-центр Sport-Life, кофейни и места для перекуса в любое время дня