section.plan
    .wrapper
        .plan-block
            .plan-block-row
                .plan-block-row-item_1
                    p.page__text_middle-black-breit 2<br> эта<br>ж
                .plan-block-row-item_2
                    p.page__text_middle-black-breit 3<br> скайп-рума
                .plan-block-row-item_3
                    p.page__text_middle-black-breit 4 зоны<br> отдыха
                .plan-block-row-item_4
                    p.page__text_middle-black-breit переговорк<br>а
                .plan-block-row-item_5
                    p.page__text_middle-black-breit кофе-поинт
                .plan-block-row-item_6
                    p.page__text_middle-black-breit принтер
                .plan-block-row-item_mob
                    .row_mob
                        p.page__text_middle-black_1 2 ЭТАЖ
                        p.page__text_middle-black_2 3 скайп-рума
                        p.page__text_middle-black_3 4 зоны отдыха
                    .row_mob-down
                        p.page__text_middle-black_4 переговорка
                        p.page__text_middle-black_5 принтер
                        p.page__text_middle-black_6 кофе-поинт
            .plan-block-img
                .page__img
                    img(src="assets/img/level-plan.svg")
            .plan-block-img-mob
                .page__img
                    img(src="assets/img/level-plan-2.svg")
            .plan-block-description
                .plan-block-description-row
                    p.page__text_big 3 этажа <span> 700 м <sub>2</sub>
                    p.page__text_mid На каждом этаже есть принтеры, кофепоинты с горячими напитками и печеньем и зоны отдыха 

