section.services
    .wrapper
        .services-block
            .services-block-descr
                p.page__text_breit_mid СЕРВИСЫ
                p.page__text_mid У нас есть еще кое-что для продуктивной работы
                a.page__link-black ПОДРОБНЕЕ
            .services-block-item
                .page__img
                    img(src="assets/img/business-1.svg")
                p.page__text_middle Бизнес ассистент
            .services-block-item
                .page__img
                    img(src="assets/img/business-2.svg")
                p.page__text_middle Юридический адрес
            .services-block-item
                .page__img
                    img(src="assets/img/business-3.svg")
                p.page__text_middle Собственная парковка