section.space
    .wrapper
        .space-block
            .space-block-descr
                p.page__text_breit_big ОФИСЫ
                .page__img_1
                    img(src="assets/img/arrow.svg")
                p.page__text_breit_big Переговорки
                .page__img_2
                    img(src="assets/img/arrow.svg")
                p.page__text_breit_big зал эвентов
                .page__img_3
                    img(src="assets/img/arrow.svg")
                p.page__text_breit_big OPENSPACE
                .page__img_4
                    img(src="assets/img/arrow.svg")
            .space-block-img
                .page__img
                    img(src="assets/img/image 12.svg")