section.team
    .wrapper
        h2.page__title-h2 Наши резиденты
        .team-block
            .team-block-items
                .team-block-items-item_1
                    .page__img
                        img(src="assets/img/resident-1.svg")
                    .team-block-items-item_1-col
                        p.page__text_midb Анастасия Викторова
                        p.page__text_breit_versm Готово.китчен
                        p.page__text_mid Отличный коворкинг, лучший из всех известных нам в Санкт-Петербурге. Пришел, сел, подключился к хорошему wi-fi и начал работать без каких-либо отвлекающих факторов.
                .team-block-items-item_2
                    .team-block-items-item_2-col
                        p.page__text_midb Иннокентий Петров
                        p.page__text_breit_versm JETbrains
                        p.page__text_mid Если ищите спокойное для работы место и устали от того, что дома не дают сосредоточиться или вам не хватает рабочей мотивации, то SprintSpace - пространство, которое вам подойдет.
                    .page__img
                        img(src="assets/img/resident-2.svg")
                .team-block-items-item_3
                    .page__img
                        img(src="assets/img/resident-3.svg")
                    .team-block-items-item_3-col
                        p.page__text_midb Александр Шевченко
                        p.page__text_breit_versm дизайнер-фрилансер
                        p.page__text_mid Больше года работал из дома. Решил сменить обстановку и пришел в Практик. Работа стала намного продуктивней. Рядом сидят увлеченные люди, в такой атмосфере не хочется лениться.
                    