extends templates/template

block title
	title Заголовок страницы
block append style
block content
	include modules/header-module
	include blocks/banner
	include blocks/general
	include blocks/plan
	include blocks/map
	include blocks/services
	include blocks/space
	include blocks/team
	include blocks/bonus
	include blocks/contacts
block append script